body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #0f0f0f;
  color: white;
}

/* HEADER RESPONSIVO */

header {
  text-align: center;
  background: #000;
  padding-bottom: 15px;
}

.logo {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.slogan {
  color: #f4a261;
  margin-top: 8px;
  font-size: 16px;
}

/* TÍTULOS */

h2 {
  padding: 20px;
  font-size: 22px;
}

/* MENU */

.menu {
  padding: 20px;
}

.item {
  display: flex;
  align-items: center;
  gap: 18px;
  background: #1a1a1a;
  padding: 18px;
  margin-bottom: 18px;
  border-radius: 10px;
  border: 1px solid #222;
}

.item img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 12px;
}

.item-content {
  flex: 1;
}

/* BOTÕES */

button {
  background: #f4a261;
  border: none;
  padding: 10px 14px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
}

button:hover {
  background: #e76f51;
}

/* CARRINHO */

.cart {
  background: #141414;
  padding: 20px;
  border-top: 2px solid #222;
}

/* FOOTER */

footer {
  text-align: center;
  padding: 12px;
  background: #000;
  color: #aaa;
}
.info-topo {
  margin-top: 10px;
  font-size: 14px;
  background: #fff3cd;
  padding: 8px 12px;
  border-radius: 8px;
  display: inline-block;
}
