body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #0f0f0f;
  color: white;
}

/* HEADER COM IMAGEM COMPLETA */

.header-logo {
  width: 100%;
  height: 340px;
  background: url("sobamania.jpg") center no-repeat;
  background-size: contain; /* não corta */
  background-color: #000;
  border-bottom: 2px solid #222;
}

/* TÍTULOS DAS SEÇÕES */

h2 {
  padding: 20px;
  font-size: 22px;
}

/* MENU */

.menu {
  padding: 20px;
}

.item {
  background: #1a1a1a;
  padding: 18px;
  margin-bottom: 18px;
  border-radius: 10px;
  border: 1px solid #222;
  transition: 0.3s;
}

.item:hover {
  transform: translateY(-3px);
  border-color: #333;
}

.item img {
  width: 100%;
  max-width: 250px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.item h3 {
  margin: 0;
  font-size: 18px;
}

/* BOTÕES */

button {
  background: #f4a261;
  border: none;
  padding: 10px 14px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #e76f51;
}

/* CARRINHO */

.cart {
  background: #141414;
  padding: 20px;
  border-top: 2px solid #222;
}

/* FOOTER */

footer {
  text-align: center;
  padding: 12px;
  background: #000;
  color: #aaa;
}
